.DS_Store
.tags

*.pyc
.*.swp
.*.swo
.*.un~
*.iml
*.o
*.d
*.so
*.a
*.clb
config.json
clcache
.idea/

board/obj/
selfdrive/boardd/boardd
selfdrive/logcatd/logcatd
selfdrive/sensord/sensord
selfdrive/ui/ui

